*{
    box-sizing: border-box;
}
/* #ffaa6a   #5e5550  #b8874c*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, #ffaa6a  0%, #5e5550 100%);
}

.right{

    text-align: right;
}

.right input {
    text-align: right;
}

.main-box{
    padding: 20px;
    background: #5e5550;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}
.question{
    padding: 20px;
    background: #ffaa6a;
    color: #5e5550;
    font-size: 16px;
    border-radius: 10px;
}
.option{
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: black;
    margin: 5px 0px;
}
