*{
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.right{

    text-align: right;
}

.right input {
    text-align: right;
}

.main-box{
    padding: 20px;
    background: rgb(223 209 230);
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}
.question{
    padding: 20px;
    background: #4c93ba;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
}
.option{
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: black;
    margin: 5px 0px;
}
