body{
    background: rgba(128, 128, 128, 0.233);
}

h2{
    text-align: center;
}

.main-box{
    border: 1px solid rgba(0, 0, 0, 0.459);
    width: 80%;
    margin: auto;
    border-radius: 3px ;
    height:250px;
    text-align: center;

}
h3{
    text-align: center;
}


.option{
    cursor: pointer;
}

.custom-p{
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
}

.right{

    text-align: right;
}

.right input {
    text-align: right;
}